<header>
	<a href="/"><img src="/images/alex.jpeg" rounded width="72" height="72" alt="Alex Mingoia" /></a>
</header>
<article>
	<hgroup text-type="sans-serif">
		<h1>{{title}}</h1>
		<p>By Alex Mingoia &bullet; <time>{{date}}</time></p>
	</hgroup>
	{{content}}
</article>
<hr/>
<footer>
	<p>⏴ <a href="/" text-weight="600">Alex Mingoia</a></p>
	<p>Reach out: <a href="mailto:alex@alexmingoia.com">alex@alexmingoia.com</a><br>Follow me on Twitter: <a href="https://twitter.com/alexmingoia">@alexmingoia</a><br>Need help? <a href="/work-with-me">Work with me</a></p>
</footer>
