<section>
  <img src="/images/alex.jpeg" rounded width="72" height="72" alt="Alex Mingoia" />
	<h1 text-type="sans-serif">Hi, I'm Alex</h1>
	<p>Reach out: <a href="mailto:alex@alexmingoia.com">alex@alexmingoia.com</a><br>Follow me on Twitter: <a href="https://twitter.com/alexmingoia">@alexmingoia</a><br>Need help? <a href="/work-with-me">Work with me</a></p>
</section>
<hr/>
<section>
	{{content}}
</section>
<hr/>
<section margin-top="lg">
	<a class="twitter-timeline" href="https://twitter.com/alexmingoia?ref_src=twsrc%5Etfw">Tweets by alexmingoia</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
